@use '../variables';

.infos-bar {
    padding: 16px 24px;
    background-color: variables.$white;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        display: flex;
        gap: 40px;

        &__item {
            font-size: 14px;
            color: variables.$black;

            b {
                color: variables.$black;
                font-size: 18px;
                display: block;
            }
        }
    }

    @media (max-width: variables.$mobile) {
        display: block;

        &__list {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: variables.$desktop) {
        
        &__list {
            gap: 16px;
        }
    }
}