// Fonte principal

$font: Roboto, sans-serif;

// Paleta de cores

$corDeFundo: #f5f6fa;
$corPrincipal: #182C61;
$corSecundaria: #4cd137;

// Tamanho de telas adaptaveis (breakpoints)

$tablet: 1023px;
$mobile: 767px;