* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

header {
    background-color: blue;
    color: #fff;
    padding: 1% 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

nav ul li {
    list-style: none;
    display: inline;
    padding-left: 16px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

section img {
    width: 60%;
    margin: 5% 0 0 5%;
    border-radius: 15px;
}

.container .text {
    width: 40%;

}

.container h3 {
    color: blue;
    padding: 2%;
    margin: 0 3%;
    border-bottom: 2px solid blue;
    margin-bottom: 5%;
}

.container p {
    margin-bottom: 5%;
    padding: 2%;
}