$blue1: #1b6ca7;
$blue2: #442bdb;
$pink: #89223b;
$yellow: #9c791d;

$black: #000;
$white: #fff;

$font-roboto: 'Roboto', sans-serif;

$bgc-button: #4f2ac3;

$mobile: 640px;
$tablet: 768px;
$desktop: 1024px;